body{

    color: #40514E;
    text-align: center;
    font-family: font-family: 'Merriweather', serif;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;
}
h1{
  font-size: 5.625rem;
    font-family: 'Sacramento', cursive;
    margin: 50px auto 0 auto;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    font-color: #66BFBF;

}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-color: #66BFBF;
  padding-bottom: 10px;
}
h3{
  font-family: 'Montserrat', sans-serif;
}
p{
  line-height: 2;
}
hr{
  border:dotted #EAF6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;

}
a{
  color: #11999e;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6f6;
}

.top-container{

background-color:	#F0FFFF;
position: relative;
padding-top: 10px;
line-height: 2;

}
.middle-container{
  background-color:	#F0FFFF;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;

}

.bottom-container{
  background-color:	#66BFBF;
  padding: 50px 0 20px;



}
.pro{
  text-decoration: underline;
  font-style: normal;
  font-weight: normal
}
.intro{
  margin: auto;
  width:30%;
}
.hills_pic{
 position: absolute;
 width: 450px;
 height: 450px;
}


.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.clock-pic{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.code-pic{
  width: 25%;
  float: left;
  margin-right: 30px;


}
.senzo_pic{
  border-radius: 50%;

}

.contact-me{
  width: 40%;
  margin: 40px auto 60px;
}

.btn{
  background: #11cdd4;
  background-image:-webkit-linear-gradient(top,#11cdd4,#11999e);
  background-image: -moz-linear-gradient(top,#11cdd4,#11999e);
  background-image: -ms-linear-gradient(top,#11cdd4,#11999e);
  background:-image: -o-linear-gradient(top,#11cdd4,#11999e);
  background-image: linear-gradient(to bottom,#11cdd4,#11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration:none;
}
.btn:hover{

  background: #30e3cd;
  background-image:-webkit-linear-gradient(top,#30e3cb,#2bc4ad);
  background-image: -moz-linear-gradient(top,#30e3cb,#2bc4ad);
  background-image: -ms-linear-gradient(top,#30e3cb,#2bc4ad);
  background:-image: -o-linear-gradient(top,#30e3cb,#2bc4ad);
  background-image: linear-gradient(to bottom,#30e3cb,#2bc4ad);
  text-decoration: none;
}

.copyright{
  color: #EAF6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}
